*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url('imagens/0660efe82fa3da42ed56eef013171835.gif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: 37%;
}

main{
    width: 100%;
}

nav {
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
}

nav a {
    display: block;
    padding: 15px;
    text-align: center;
    color: #fff;
}

.menu-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.menu-button:hover {
    background-color: #444;
}

.content {
    margin-left: 0;
    padding: 50px;
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 18px;
    color: white;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

h1 {
    text-align: center;
    width: 100%;
}

.duo{
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 25px;
    background-color: rgba(180, 178, 178, 0.815);
}

label {
    margin: 10px;
}
p{
    margin-top: 10px;
    text-align: center;
}

footer {
    list-style: none;
    text-align: center;
    background-color: #333;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

